
body{
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
}

.container{
    margin-top: 100px;
}

a{
    display: block;
    margin: 15px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 12px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover{
    background-color: #0056b3;
}


#section{
    margin-top: 100vh; 
    padding: 50px;
    background-color: white;
}

@media (max-width: 768px){
    .container{
        margin-top: 50px;
    }

    a{
        width: 90%;
        font-size: 16px;
        padding: 15px;
    }

    #section{
        padding: 30px;
        font-size: 18px;
    }
}